# Erxes CMS Configuration
NEXT_PUBLIC_GRAPHQL_URI=https://ulaanbaatarbuyanmn.next.erxes.io/gateway/graphql
ERXES_APP_TOKEN=your_erxes_app_token_here

# Admin CMS Configuration  
NEXT_PUBLIC_ADMIN_PASSWORD=admin123
